body{
  background-color: #d4f8e8;
}

.App{
  background-color: #1eb2a6;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input{
  background-color: #75daad;
  border: 0; 
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 10px;
}

#to-do-form input::placeholder{
  color: rgba(255,255,255,0.5);
}

#to-do-form input:focus,#to-do-form button:focus{
  outline: none;
}

#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: #feb72b;
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
}